.ums-ap-main{
    background-color: var(--primary);
    height: 100vh;
    width: 100vw;
}

.ToastContainer{
    width: 0;
    height: 0;
    position: absolute;
}

.ums-ap-login-section{
    background-color: var(--tertiary);
    width: 50%;
    height: 65%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 30px;
}

.ums-ap-login-section-overlay{
    background-color: var(--tertiary);
    height: 100%;
    width: 65%;
    border-radius: 30px 40px 40px 30px;
    z-index: 2;
    position: absolute;
}

.ums-ap-registration-dir-overlay{
    background-color: var(--secondary);
    height: 100%;
    width: 100%;
    border-radius: 30px;
    z-index: 1;
    position: absolute;
}

.ums-ap-login-section-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 3;
}

.ums-ap-login-form-section{
    height: 100%;
    width: 65%;
    z-index: 4;
}

.ums-ap-login-form{
    height: 80%;
    width: 80%;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.ums-ap-login-form-header-section{
    width: 100%;
    height: 22.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    font-weight: 700;
}

.ums-ap-login-form-header-section span{
    width: max-content;
    height: max-content;
    font-size: 24px;
}

.ums-ap-login-form-container{
    width: 100%;
    height: 72.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ums-ap-login-form-container-username-section{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ums-ap-username-section-input-label-section{
    height: 25%;
    width: 100%;
    font-size: 14px;
    color: var(--stress);
}

.ums-ap-username-section-input-section{
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ums-ap-username-section-input-section input{
    height: 75%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--input-background);
    border: 1px solid var(--input-stroke);
    padding-left: 1.5%;
}

.ums-ap-login-form-container-password-section{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ums-ap-password-section-input-label-section{
    height: 25%;
    width: 100%;
    font-size: 14px;
    color: var(--stress);
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1.5%;
}

.ums-ap-password-section-input-label-section i{
    font-size: 16px;
    display: flex;
}

.ums-ap-password-section-input-section{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ums-ap-password-section-input-section input{
    height: 75%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--input-background);
    border: 1px solid var(--input-stroke);
    padding-left: 1.5%;
}

.ums-ap-password-forgot-button-section{
    background-color: blue;
    width: 100%;
    height: 0%;
    font-size: 12px;
    display: flex;
    align-content: center;
    justify-content: right;
    color: var(--stress);
}

.ums-ap-login-form-button-section{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ums-ap-form-login-button{
    height: 50%;
    width: 50%;
    background-color: var(--secondary);
    border: none;
    border-radius: 5px;
    color: var(--primary);
}

.ums-ap-registration-dir-section{
    height: 100%;
    width: 35%;
    z-index: 4;
    border-radius: 25px;
}

.ums-ap-registration-dir-container{
    height: 95%;
    width: 80%;
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
}

.ums-ap-registration-dir-container-logo-section{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.ums-ap-registration-dir-container-logo-section span{
    background-color: var(--primary);
    opacity: 0.7;
    height: max-content;
    width: max-content;
    padding-right: 7.5px;
    padding-left: 7.5px;
    border-radius: 5px;
}

.ums-ap-registration-dir-content-section{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ums-ap-registration-dir-content-text-section{
    width: 100%;
    height: max-content;
}

.ums-ap-registration-dir-content-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--semibold);
}

.ums-ap-registration-dir-content-text:nth-child(1) span{
    height: max-content;
    width: max-content;
    font-size: 14px;
    color: var(--primary);
    text-align: center;
    font-weight: var(--medium);
}

.ums-ap-registration-dir-content-text:nth-child(2) span{
    height: max-content;
    width: max-content;
    font-size: 20px;
    color: var(--primary);
    text-align: center;
    font-weight: var(semibold);
}

.ums-ap-registration-dir-content-reg-section{
    width: 100%;
    height: max-content;
}

.ums-ap-registration-dir-content-reg-section-text{
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.ums-ap-registration-dir-content-reg-section-text span{
    font-size: 10px;
    color: var(--primary);
    height: max-content;
    width: max-content;
    text-align: center;
}

.ums-ap-registration-dir-content-reg-section-button{
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ums-ap-registration-dir-content-reg-section-button button{
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid var(--primary);
    border-radius: 5px;
    color: white;
    padding: 1.5%;
    width: 50%;
}