.ums-acp-main{
    height: 100vh;
    width: 100vw;
    background-color: var(--primary);
    display: flex;
}

.ums-acp-content-section{
    height: 100%;
    width: 82.5%;
}

.ums-acp-content{
    height: 80%;
    width: 90%;
    background-color: var(--tertiary);
    position: relative;
    margin-top: 2.5%;
    margin-left: 2.5%;
    border-radius: 20px;
}

.ums-acp-content-header-section{
    height: 15%;
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--input-stroke);
}

.ums-acp-content-header{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.ums-acp-content-header span{
    height: max-content;
    width: max-content;
    padding-left: 10%;
    font-size: 20px;
    font-weight: var(--medium);
}

.ums-acp-button-section{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.ums-acp-add-account-button{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer;
}

.ums-acp-filter-button{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ums-acp-add-account{
    height: 35%;
    width: 65%;
    background-color: var(--secondary);
    border: none;
    border-radius: 5px;
    margin-right: 5%;
    color: var(--tertiary);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ums-acp-filter{
    height: 35%;
    width: 85%;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.ums-acp-filter i{
    height: max-content;
    width: max-content;
    display: flex;
}

.ums-acp-content-body-section{
    height: 82.5%;
    border-radius: 0 0 20px 20px;
}

.ums-acp-content-body{
    height: 95%;
    width: 95%;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    overflow: scroll;
}

.ums-acp-content-account-card{
    height: 25%;
    width: 35%;
    border-radius: 20px;
    border: 2px solid var(--primary);
    display: flex;
}

.ums-acp-content-account-card-image-container{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ums-acp-content-account-card-image{
    height: 80%;
    width: 80%;
    background-color: var(--primary);
    border-radius: 5px;
}

.ums-acp-content-account-card-container{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ums-acp-content-account-card-text-section{
    height: 45%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.ums-acp-card-username{
    font-size: 16px;
    font-weight: var(--medium);
}

.ums-acp-card-account-id{
    font-size: 12px;
    font-weight: var(--medium);
}

.ums-acp-content-account-card-role-section{
    height: 45%;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ums-acp-card-user-role{
    width: 50%;
    height: 50%;
    font-size: 12px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;    
    border-radius: 5px;
}

.ums-acp-card-system-role{
    width: 50%;
    height: 50%;
    font-size: 10px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}