.ums-adc-main{
    background-color: var(--primary);
    height: 100vh;
    width: 100vw;
    display: flex;
}

.ums-adc-sidebar-section{
    width: 17.5%;
    height: 100%;
    background-color: var(--tertiary);
}

.ums-adc-sidebar-upper-section{
    height: 15%;
    width: 100%;
}

.ums-adc-sidebar-lower-section{
    height: 85%;
    width: 100%;
}

.ums-adc-sidebar-header-section{
    width: 90%;
    height: 90%;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ums-adc-sidebar-header{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ums-adc-sidebar-header-image{
    height: 90%;
    width: 30%;
    background-color: var(--input-background);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.ums-adc-sidebar-header-image img{
    width: 85%;
    height: 100%;
}

.ums-adc-sidebar-header-text{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.ums-adc-sidebar-header-text span{
    padding-left: 5%;
    font-size: 20px;
    color: var(--secondary);
    font-weight: var(--semibold);
}

.ums-adc-content-section{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ums-adc-navbar-section{
    width: 100%;
    height: 15%;
    background-color: var(--tertiary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ums-adc-navbar{
    width: 100%;
    height: 90%;
    margin: 5px;
    display: flex;
}

.ums-adc-page-title-section{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.ums-adc-page-title{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.ums-adc-page-title span{
    height: max-content;
    width: max-content;
    font-size: 20px;
    padding-left: 5%;
}

.ums-adc-navbar-profile-section{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.ums-adc-profile-section{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ums-adc-profile{
    background-color: var(--logo-bg);
    height: 50%;
    width: 50%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ums-adc-profile-image{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    overflow: hidden;
}

.ums-adc-profile-image img{
    width: 100%;
    height: 100%;
}

.ums-adc-notifications-section{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.ums-adc-notifications{
    background-color: var(--logo-bg);
    height: 50%;
    width: 50%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ums-adc-notifications i{
    font-size: 20px;
    height: max-content;
    width: max-content;
    display: flex;
    cursor: pointer;
}